<div class="mat-dialog">
    <div class="mat-dialog-area">
        <div>
          <img class="mat-dialog-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTy_brzbIf-LQQmVl0W2353cshz4J2tRnJ9pV0lqqcONfcIeuiV_XGTkACqnlFl0I6oNd4&usqp=CAU" alt="">
        </div>
        <p>{{data.title}} to continue</p>
        <form [formGroup]="signInform" class="example-form" >
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="email" #userEmail>
              <mat-hint 
                *ngIf="getError(this.signInform) && !signInform.controls['email'].errors?.['required']"
              >
                Please enter a valid email address
              </mat-hint>
              <mat-hint *ngIf="signInform.controls['email'].errors?.['required']">
                Email is <strong>required</strong>
              </mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Enter your password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" #userPassword>
              <button 
                type="button" 
                mat-icon-button 
                matSuffix 
                (click)="hide = !hide" 
                [attr.aria-label]="'Hide password'" 
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-hint *ngIf="signInform.controls['password'].errors?.['required']"> 
                Password is <strong>required</strong>
              </mat-hint>
            </mat-form-field>
          </form>
          <span 
            *ngIf="data.title == 'Log in'" 
            (click)="openFPdDialog()" 
            class="mat-second-dialog"
          >Forgot Password?</span>
        <button 
          mat-raised-button 
          color="primary" 
          class="mat-dialog-btn" 
          [disabled]="isButtonDisable()" 
          (click)="clickContinue(userEmail.value, userPassword.value)"
        >Continue</button>
        <div class="mat-second-dialog">
            <p *ngIf="data.title == 'Log in'">
              Don't nave an account?<a href="javascript:void(0)" (click)="openSecondDialog('Sign Up')" ><b> Sign Up</b></a>
            </p>
        </div>
        <button mat-raised-button 
          class="mat-dialog-btn mat-dialog-googleBtn" 
          (click)="authService.GoogleAuth()" 
          [mat-dialog-close]>
            <div class="wrapper">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" alt="no" width="20px" height="20px">
                <p>Continue with Google</p></div>
        </button>
    </div>
</div>

<ng-template #forgotPassword>
  <div class="mat-fp-dialog">
    <div class="mat-fp-dialog-area">
      <form [formGroup]="resetPasswordform" class="example-form">
        <h2 class="mat-fp-dialog-text">Reset Password</h2>
        <p class="text-center">Please enter your email address to request a password reset.</p>
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input 
            type="email" matInput 
            placeholder="Ex. pat@example.com" 
            formControlName="email"
            #forgotPassword
          >
          <mat-hint *ngIf="getError(this.resetPasswordform) && !resetPasswordform.controls['email'].errors?.['required']">
            Please enter a valid email address
          </mat-hint>
          <mat-hint *ngIf="resetPasswordform.controls['email'].errors?.['required']">
            Email is <strong>required</strong>
          </mat-hint>
        </mat-form-field>
        <button
          [disabled]="getError(this.resetPasswordform) || resetPasswordform.controls['email'].errors?.['required']"
          mat-raised-button 
          (click)="authService.ForgotPassword(forgotPassword.value)">Reset Password</button>
    
        <div class="redirectToLogin">
          <span>Go back to ? <span class="mat-second-dialog" (click)="openSecondDialog('Log In')" >Log In</span></span>
        </div>
      </form>
    </div>
  </div>
</ng-template>