section {
    display: flex;
    width: 100vw;
    background-color: rgba(130, 69, 69, 0.189);
    justify-content: space-between;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
    margin-right: 15px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  